

.SearchSection form {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.SearchSection .SearchResult {
    min-height: 5rem;
    width: 90%;
}

.SearchSection form input,
.SearchSection form button {
    padding: .5rem;
    display: inline-block;
    width: 60%;
}

.SearchSection form button  {
    background: rgb(72, 72, 208);
    border: none;
    outline: none;
    margin-top: .5rem;
    color: #fefeff;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: .5rem;
}

.SearchSection h3 {
    text-align: center;
}

.SearchSection .SearchResultItem {
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid grey;
    list-style: none;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
    cursor: pointer;
}

.SearchSection .SearchResultItem:hover {
    background-color: rgb(113, 113, 204);
    color: rgb(232, 221, 221);
}